
# QWeather API credentials
# Register at https://dev.qweather.com/ to get your API key
# For API host options, see https://dev.qweather.com/docs/configuration/api-config/#api-host
QWEATHER_API_KEY="your_api_key_here"
QWEATHER_API_HOST="api.qweather.com"